@page
@model Pages.Articles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].IsPromo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @if (item.ImagePath != null)
                    {
                        <img src="~/@item.ImagePath" style="max-width: 50px; max-height: 50px;" />
                    }
                    else
                    {
                        <img src="~/image/noimage.jpg" style="max-width: 50px; max-height: 50px;" />
                    }
                </td>

                <td>
                    <span data-category-id="@item.CategoryId" data-category-name=""></span>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPromo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var categoriesDict = {};
        @foreach (var cat in ViewBag.Categories)
        {
            @:categoriesDict[@cat.Id] = "@cat.Name";
        }

                        var spans = document.querySelectorAll('[data-category-id]');
        spans.forEach(function (span) {
            var categoryId = span.getAttribute('data-category-id');
            var categoryName = categoriesDict[categoryId] || "no category";
            span.setAttribute('data-category-name', categoryName);
            span.innerText = categoryName;
        });
    </script>
}